.loader-container{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.custom-loader {
    width: 32px;
    height: 32px;
    --c:radial-gradient(farthest-side,#f9842c 90%,#0000);
    background:
      var(--c) 0    0,
      var(--c) 100% 0,
      var(--c) 100% 100%,
      var(--c) 0    100%;
    background-size: 12px 12px;
    background-repeat: no-repeat;
    animation:d8 .5s infinite; 
  }
  
  @keyframes d8 {
    100% {background-position: 100% 0,100% 100%,0 100%,0 0}
  }
  .backgrounds2 {
    background-color: #cfb7e1;
}

.backgrounds {
    background-color: #f9842c;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #ffffff;
    padding: 30px;
    width: 450px;
    border-radius: 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

::placeholder {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.form button {
    align-self: flex-end;
}

.flex-column>label {
    color: #151717;
    font-weight: 600;
}

.inputForm {
    border: 1.5px solid #ecedec;
    border-radius: 10px;
    height: 50px;
    display: flex;
    align-items: center;
    padding-left: 10px;
    transition: 0.2s ease-in-out;
}

.input {
    margin-left: 10px;
    border-radius: 10px;
    border: none;
    width: 85%;
    height: 100%;
}

.input:focus {
    outline: none;
}

.inputForm:focus-within {
    border: 1.5px solid #2d79f3;
}

.flex-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    justify-content: space-between;
}

.flex-row>div>label {
    font-size: 14px;
    color: black;
    font-weight: 400;
}

.span {
    font-size: 14px;
    margin-left: 5px;
    color: #2d79f3;
    font-weight: 500;
    cursor: pointer;
}


.p {
    text-align: center;
    color: black;
    font-size: 14px;
    margin: 5px 0;
}

.log {
    margin-top: 10px;
    width: 100%;
    height: 50px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    gap: 10px;
    border: 1px solid #ededef;
    background-color: white;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.log1 {
    margin-top: 10px;
    width: 100%;
    height: 50px;
    border-radius: 10px;
    display: flex;
    justify-content: right;
    align-items: center;
    font-weight: 500;
    gap: 10px;
    border: 1px solid #ededef;
    background-color: white;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}
.log2 {
    margin-top: 10px;
    width: 100%;
    height: 50px;
    border-radius: 10px;
    display: flex;
    justify-content: right;
    align-items: center;
    font-weight: 500;
    gap: 10px;
    border: 1px solid #ededef;
    background-color: white;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.btn:hover {
    border: 1px solid #2d79f3;
    ;
}
.space{
    position: absolute;
    top: 20px;
    right: 50px;
}

.custom-toast{
    font-size: 12px !important;
}
@media only screen and (max-width: 600px) {
    .align {
        width: 100%; /* Adjusts width dynamically */
        max-width: 100%; /* Ensures it doesn't exceed 400px */
        
    }
}
